\rpg_basico
Listando Seguidores Instagram\senhas.txt
Listando Seguidores Instagram\dados.txt
Gerador de Senhas em Python/build/
Gerador de Senhas em Python/__pycache__/
Gerador de Senhas em Python/dist/senhas.txt
Gerador de Senhas em Python/password_gen.spec
/Criptografia
README.md